/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* .app-title {
  display: flex;
  color: gold;
}

.classes-and-topics-list {
  display: flex;
  flex-direction: row;
  color: gold;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
 
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
}

.link {
 color: lightblue;
}

.routes-appjsx {
  display: flex;
  justify-content: space-between;
}

.universal-link {
  color: purple;
}

.user-links {
  color: aquamarine;
}

.auth-links {
  color: chartreuse;
}

.sign-in {
  display: flex;
  flex-direction: column;
}

.username-field {
  color: chartreuse;
}

.password-field {
  color: chartreuse;
}

.auth-button {
  color: purple;
}

.sign-up {
  display: flex;
  flex-direction: column;
}

.confirm-password-field {
  color: chartreuse;
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* .routes-appjsx {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
} */

.app-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: row;
}

.universal-link {
  color: aquamarine;
}

.user-links {
  color: aquamarine;
}

.homepage-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://content.presentermedia.com/files/clipart/00002000/2995/blank_bulletin_board_800_wht.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.classes-and-topics-list {
  display: flex;
  flex-direction: row;
  color: gold;
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-class-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-classes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-class-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-edit-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-topic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-topic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-edit-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-topics-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-class-description {
  width: 300px;
  height: 150px; 
  padding: 10px; 
  box-sizing: border-box; 
}

.edit-class-description {
  width: 300px;
  height: 150px; 
  padding: 10px; 
  box-sizing: border-box; 
}

.create-topic-description {
  width: 300px;
  height: 150px; 
  padding: 10px; 
  box-sizing: border-box; 
}

.edit-topic-description {
  width: 300px;
  height: 150px; 
  padding: 10px; 
  box-sizing: border-box; 
}